src/main/mule/praticas-dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="71ac5a1f-d199-4364-b1ad-4f7703b09740" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="584790b9-cd8f-466e-bf99-0e4c6d67bf30" />
	<flow name="praticas-dataweaveFlow" doc:id="307383a0-c011-4f85-b7a9-3263bfd61c35" >
		<http:listener doc:name="Listener" doc:id="a9413df7-924e-44fe-8902-94b0eccbee1a" config-ref="HTTP_Listener_config" path="/deirawiv"/>
		<file:read doc:name="Web log csv data" doc:id="e383716e-c859-42b7-b7d2-7363bf1e4409" config-ref="File_Config" path="C:\Users\globalred\Downloads\access_log_NASA_sample.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="0b09a451-1567-4d7d-b9ec-61287db81d33" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="mapping" doc:id="babdf183-d3b9-43ca-a387-48c60c9fbfa3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map(value, index) -> {
    "host" : value.host,
    "date_time": value.date_time as LocalDateTime{ format: 'd/MMM/y:HH:mm:ss'} default '',
    "time_zone": value.time_zone,
    "endpoint": value.endpoint,
    "status_code": value.status_code,
    "size_returned": value.size_returned as Number default 0,
    "year": value.date_time as LocalDateTime { format: 'd/MMM/y:HH:mm:ss'} as String {format: 'y'}  default '',
    "month": value.date_time as LocalDateTime { format: 'd/MMM/y:HH:mm:ss'} as String {format: 'y'}  default '',
    "month_name": value.date_time as LocalDateTime { format: 'd/MMM/y:HH:mm:ss'} as String {format: 'M'}  default '',
    "month_abbreviated": value.date_time as LocalDateTime { format: 'd/MMM/y:HH:mm:ss'} as String {format: 'MMM'}  default '',
    "dayOfYear": value.date_time as LocalDateTime { format: 'd/MMM/y:HH:mm:ss'} as String {format: 'D'}  default '',
    "dayOfWeek": value.date_time as LocalDateTime { format: 'd/MMM/y:HH:mm:ss'} as String {format: 'd'}  default '',
    "dayOfMonth": value.date_time as LocalDateTime { format: 'd/MMM/y:HH:mm:ss'} as String {format: 'EEEE'}  default '',
    "dayOfWeekAbbreviated":  value.date_time as LocalDateTime { format: 'd/MMM/y:HH:mm:ss'} as String {format: 'EEE'}  default ''

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ccbcbe4b-89ba-4501-aec1-d5b33e0f101c" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="3ca3ff6f-869b-4123-b51b-c389234dc524" target="variavelTeste">
			<route >
				<ee:transform doc:name='status_code == "400"' doc:id="be776cbe-238d-48d7-ab97-612e16118798" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
status_code: payload.status_code filter($ == "400")]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="17560654-0125-4acb-b3ef-eab7f7c0d113" config-ref="File_Config" path="C:\Users\globalred\Desktop\aaaa\400StatusCode.txt"/>
			</route>
			<route >
				<ee:transform doc:name='stauts_code StartsWith("4")' doc:id="ee5ca113-6aca-4318-bdc5-e291dc368dab" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(
    $.status_code as Number startsWith("4")
)
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="fb9b960b-e03c-4a12-a4d8-f3ed53ec60f1" path="C:\Users\globalred\Desktop\aaaa\startsWith4.txt"/>
			</route>
			<route >
				<ee:transform doc:name='enddpoint endsWith(".gif")' doc:id="435ba3c5-49ae-4d9d-97a1-4166462d73f5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(
    $.endpoint endsWith(".gif")
)
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="4b6b5ec6-9e01-4909-80a2-43084430fb9a" path="C:\Users\globalred\Desktop\aaaa\endsWithGIF.txt"/>
			</route>
			<route >
				<ee:transform doc:name='value.endpoint contains("USA")' doc:id="eb84b168-311d-4851-bad8-e306b0e76c06">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(
    $.endpoint contains ("USA")
)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="a165abf2-cfb1-4e2d-b55d-f0bb49872498" path="C:\Users\globalred\Desktop\aaaa\contains.txt"/>
			</route>
		</scatter-gather>
		<set-payload value="#[vars.variavelTeste]" doc:name="Set Payload" doc:id="65a018d6-4752-40d8-96e8-e84dfb128f1c" />
	</flow>
</mule>
